Package: curl
Version: 7.66.0-1
Depends: zlib
Architecture: x86-windows
Multi-Arch: same
Abi: 007d71b96431beff77a6158611c378a778774839
Description: A library for transferring data with URLs

Package: curl
Feature: ssl
Depends: curl[winssl]
Architecture: x86-windows
Multi-Arch: same
Description: Default SSL backend

Package: curl
Feature: winssl
Architecture: x86-windows
Multi-Arch: same
Description: SSL support (Secure Channel / "WinSSL")
